@font-face {
    font-family: monsera_regulard;
    src: url(../font/Montserrat-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: monsera_regulard;
}

.logo {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem
}

.jean {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.5rem
}

.titre {
    background-image: url(../img/jeans.jpg);
    height: 30vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

}

.titre * {
    padding: 1rem;

}

.titre span {
    background-color: black;
}

/* section article */

.imgArticle img {
    width: 100%;
}

.article {
    width: 45%;
    padding: 0.5rem;
    box-shadow: 5px 5px 2px 1px rgba(200, 200, 200, .2);
}

.titreArticle {
    color: rgb(65, 65, 65);
}

.cata {
    display: flex;
    flex-wrap: wrap;
}

/* section suscribe */

.suscribe {
    background-color: black;
    color: white;
}

.suscribe h2,
.suscribe p,
.suscribe form {

    padding: 00.8rem;
}

.suscribe form {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

#buttonSusc {
    width: 50%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: red;
    color: white;

}

.mail input {
    width: 100%;
    height: 4vh;
}

/* section contact */

.contact {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}


.contact h2 {
    text-align: center;
    padding: 2rem;
}

.contact p {
    text-align: center;
}

.contact form {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
}

.form {
    width: 100%;
}

.contact input {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.send {
    background-color: black;
    color: white;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;

}

.about a {

    color: black;
}

.store {
    width: 49%;
    text-align: center;
}

.store h3 {
    padding: 0.5rem 0;
}

/* footer */
footer {
    background-color: black;
    color: white;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.listeMenu {
    display: none;
}

.listeMenu ul {
    margin: 3rem;
}


@media screen and (min-width:576px) {
    .titre {
        height:80vh ;
    }

    .responsive {
        display: flex;
    }

    .contact {
        display: flex;

    }

    #burger {
        display: none;

    }

    .listeMenu {
        display: block;
        width: 40%;


    }

    .logo {
        background-color: white;
        color: black;

    }

    .form {
        width: 33.33%;

    }

    .about {
        width: 33.33%;
        align-items: center;
        justify-content: center;

    }


    .store {
        width: 33.33%;
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: space-between;

    }

    .jean i {
        text-align: end;

    }

    .article {
        width: 20%;
    }

    .suscribe {
        width: 85%;
    }

    .contact {
        width: 85%;
    }

}